.home-layout {
  position: relative;
  height: 100vh;
  /* background: linear-gradient(
    200.96deg,
    #ffffff -29.09%,
    #0f71fa 51.77%,
    #0b428e 129.35%
  ); */

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
  }
}
