/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  height: 100vh;
  /* background: linear-gradient(
    200.96deg,
    #FFFFFF -29.09%,
    #0F71FA 51.77%,
    #0B428E 129.35%
  ); */
  font-family: sans-serif;
  overflow-y: hidden;
}

.leaflet-control-attribution {
  display: none !important;
}
